<ion-header>
  <ion-toolbar color="success">
    <ion-title color="dark">login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="stacked">E-mail</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Senha</ion-label>
      <ion-input type="password" formControlName="senha"></ion-input>
    </ion-item>

    <div margin-vertical>
      <ion-button color="success" expand="block" type="submit"><ion-title color="dark">Entrar</ion-title></ion-button>
    </div>
  </form>

  <ion-button expand="block" color="dark" fill="clear" margin-top [routerLink]="['/esqueci-senha']">Esqueci minha senha</ion-button>
  <ion-button expand="block" color="dark" fill="clear" [routerLink]="['/criar-conta']">Criar uma conta</ion-button>
</ion-content>